#nav {
  height: 48px;
  padding: 0;
  background-color: #0abab5;
}
#nav .navbar-brand {
  font-size: 20px;
  color: #fff;
}
#nav .navbar-brand:hover {
  color: #ddd;
}
#siteMap a {
  color: #fff;
}
#siteMap a:hover {
  color: #777;
}
#menu {
  background-color: #fff;
  height: 40px;
}
#menu:hover {
  background-color: #ccc;
}
.dropdown-menu {
  background-color: #fff;
}
.dropdown-menu li a {
  font-size: 14px;
}
.dropdown-menu li a:hover {
  background-color: #ccc;
}
#search {
  background-color: #fff;
  border: 0.5px solid #777;
  color: #ddd;
}
#search:hover::placeholder {
  color: #000;
}
#search:focus::placeholder {
  color: transparent;
}
#searchButton {
  color: #777;
  border: 1px solid #999;
  background-color: #fff;
  /* transition: background-color 1s, color 1s; */
}
#searchButton:hover {
  background-color: #ddd;
  color: #000;
}
