#nav {
    height: 48px;
    padding: 0;
    background-color: black;
}
#nav .navbar-brand {
    font-size: 20px;
    color: #aaa;
}
#nav .navbar-brand:hover {
    color: #ddd;
}
#siteMap a {
    color: #aaa;
}
#siteMap a:hover {
    color: #eee;
}
#menu {
    background-color: #555;
    transition: background-color 1s;
}
#menu:hover {
    background-color: #999;
}
.dropdown-menu {
    background-color: black;
}
.dropdown-menu li a {
    font-size: 14px;
}
.dropdown-menu li a:hover {
    background-color: #444;
}
#search {
    background-color: rgb(33, 33, 33);
    border: 0.5px solid #777;
    color: #ddd;
}
#search:hover::placeholder {
    color: #bbb;
}
#search:focus::placeholder {
    color: transparent;
}
#searchButton {
    color: #999;
    border: 1px solid #999;
    background-color: #222;
    transition: background-color 1s, color 1s;
}
#searchButton:hover {
    background-color: #eee;
    color: #444;
}
